body {
    margin: 0;
    padding: 5px;
    font-family: 'Kalpurush', 'Noto Serif Bengali', serif;
}

header {
    background-color: rgb(225, 245, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 150px;
}

header img {
    max-width: 220px;
    height: auto;
}

/* NAV BAR */
.nav {
    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

/* ul reset + layout */
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* li takes equal width */
.nav-list li {
    flex: 1;
}

/* full box clickable */
.nav-list li a {
    display: block;
    text-align: center;
    padding: 14px 0;
    text-decoration: none;
    font-family: 'Kalpurush', 'Noto Serif Bengali', serif;
    font-size: 16px;
    color: #111;
    border-right: 1px solid #e5e5e5;
    transition: background-color 0.2s ease;
}

/* last item border remove */
.nav-list li:last-child a {
    border-right: none;
}

/* hover effect */
.nav-list li a:hover {
    background-color: #e1f5ff;
}
