/* ===== Reset ===== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Kalpurush', 'Noto Serif Bengali', serif;
  background: #f5f5f5;
}

/* ===== Grid Container ===== */
.gridContainer {
  min-height: 100vh;
  display: grid;

  /* Desktop layout */
  grid-template-columns: 240px 1fr 350px;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header header header"
    "left   main   right"
    "footer footer footer";
}

/* ===== Grid Areas ===== */
.header {
  grid-area: header;
  padding: 20px;
  background: #eaeaea;
  text-align: center;
}

.leftBar {
  grid-area: left;
  padding: 20px;
  background: #dcdcdc;
}

.mainContent {
  grid-area: main;
  padding: 25px 80px;
  background: #d8d8d8;
}

.rightBar {
  grid-area: right;
  padding: 20px;
  background: #dcdcdc;
}

.footer {
  grid-area: footer;
  padding: 20px;
  background: #eaeaea;
  text-align: center;
}

@media (max-width: 1100px) {
    .mainContent {
    grid-area: main;
    padding: 25px 25px;
    background: #d8d8d8;
}
}

@media (max-width: 992px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .leftBar,
  .rightBar {
    display: none;
  }
}

.mainContent p {
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 1.3em;
    letter-spacing: 0.01em;
}

/* Tablet */
@media (max-width: 1024px) {
    .mainContent p {
        font-size: 20px;
        line-height: 1.5;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .mainContent p {
        font-size: 19px;
        line-height: 1.4;
    }
}

